<div class="filters">
  <div class="search">
    <mat-form-field>
      <mat-label>Search by typing...</mat-label>
      <input matInput (keyup)="applySearch()" [(ngModel)]="activeSearch" autocomplete="off">
      <button mat-button *ngIf="activeSearch" matSuffix mat-icon-button aria-label="Clear"
        (click)="activeSearch = '';applySearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="sorting">
    <p class="label">Sort by</p>
    <div class="options">
      <div class="option" (click)="applySort('transactionDate')">
        <p>Date</p>
        <div *ngIf="activeSort.property === 'transactionDate'">
          <mat-icon *ngIf="activeSort.direction === 'desc'">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="activeSort.direction === 'asc'">arrow_drop_up</mat-icon>
        </div>
      </div>
      <div class="option" (click)="applySort('merchant')">
        <p>Beneficiary</p>
        <div *ngIf="activeSort.property === 'merchant'">
          <mat-icon *ngIf="activeSort.direction === 'desc'">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="activeSort.direction === 'asc'">arrow_drop_up</mat-icon>
        </div>
      </div>
      <div class="option" (click)="applySort('amount')">
        <p>Amount</p>
        <div *ngIf="activeSort.property === 'amount'">
          <mat-icon *ngIf="activeSort.direction === 'desc'">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="activeSort.direction === 'asc'">arrow_drop_up</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
