@import '../app/styles/colors.scss';

.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: $white;
  border-bottom: 3px solid $accent;

  .logo-container {
    width: 100%;
    padding: 0 100px;

    .logo {
      height: 30px;
    }
  }

}
