<div class="container">
  <app-heading-title [title]="'Recent Transactions'" [icon]="'work_outline'"></app-heading-title>
  <app-transactions-filters></app-transactions-filters>

  <div class="list">
    <div class="item" *ngFor="let transaction of transactions; let last = last" [ngClass]="{'border-none': !last}"
      [ngStyle]="{'border-left': '10px solid ' + transaction.categoryCode}">
      <div class="col gap">
        <p>{{transaction.transactionDate | date: 'MMM. dd'}}</p>
      </div>
      <div class="col">
        <img [src]="transaction.merchantLogo" width="40" height="40" />
      </div>
      <div class="col">
        <div>
          <p>{{transaction.merchant}}</p>
          <p class="tr-type">{{transaction.transactionType}}</p>
        </div>
      </div>
      <div class="col right">
        <p>-{{transaction.amount | currency}}</p>
      </div>
    </div>
  </div>

</div>
