/* You can add global styles to this file, and also import other style files */
@import './app/styles/fonts.scss';

html,
body {
  font-family: $font-family;
  margin: 0;
  height: 100%;
}

p,
span {
  font-family: $font-family;
}
