<div class="container">
  <app-heading-title [title]="'Make a Transfer'" [icon]="'loop'"></app-heading-title>
  <form class="form" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label>From account</label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="fromAccount" autocomplete="off" readonly>
      </mat-form-field>
    </div>
    <div class="form-control">
      <label>To account</label>
      <mat-form-field>
        <mat-select formControlName="toAccount">
          <mat-option *ngFor="let merchant of merchants" [value]="merchant">{{merchant.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control">
      <label>Amount</label>
      <mat-form-field>
        <span matPrefix>$&nbsp;</span>
        <input matInput type="number" formControlName="amount" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="form-actions">
      <button mat-flat-button color="accent" type="submit"
        [disabled]="!transactionForm.valid || amount > balance.amount - allowedDebt">
        <span>Submit</span>
      </button>
    </div>
  </form>
</div>
