@import '../../styles/colors.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  width: 300px;

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 0;

    .form-control {
      width: 100%;

      .mat-form-field {
        display: flex;
        flex-direction: column;
        padding: 0 12px;
      }

      label {
        padding: 0 12px;
      }
    }

    .form-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 12px;
    }

  }
}
